.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scale(-1, 1);
  height: 350px;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___left img{
  align-items: flex-start;
  height: 350px;
}

.fighter-preview___description {
  width: 100%;

  padding: 10px;

  background: #000;
  border-radius: 5px;
}

.fighter-preview___title {
  width: 100%;

  margin: 10px 0;

  text-align: center;
  text-decoration: underline;
  font-size: 40px;
  color: red;
  border-radius: 5px;
}

.fighter-preview___property {
  margin: 5px 0;

  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: rgb(153, 28, 28);
}
